[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	url = https://github.com/ayatakesi/emacs-doc-ja.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
[branch "emacs-27"]
	remote = origin
	merge = refs/heads/emacs-27
[merge "gettext-msgmerge"]
	name = gettext msgmerge driver
	driver = msgmerge --no-wrap --compendium %B --update %A %A
